name: CI
on:
  push:
    branches:
    - main
    paths:
    - src/**
    - ui/**
    - pom.xml
    - .github/workflows/*
  pull_request:
    branches:
    - main
    paths:
    - src/**
    - ui/**
    - pom.xml
    - .github/workflows/*
  workflow_dispatch:
jobs:
  test:
    uses: making/workflows/.github/workflows/maven-unit-test.yaml@main
    with:
      e2e_test: true
      test_url_1: http://localhost:8080/actuator/health
      upload_target: false
  build-jvm-image:
    if: false
    needs: test
    permissions:
      contents: read
      packages: write
    uses: making/workflows/.github/workflows/build-docker-image-maven-jvm.yaml@main
    with:
      image_file: image.yaml
      download_target: false
  build-native-image:
    if: false
    needs: test
    permissions:
      contents: read
      packages: write
    uses: making/workflows/.github/workflows/build-docker-image-maven-native.yaml@main
    with:
      image_file: image_native.yaml
      download_target: false
      e2e_test: true
      test_url_1: http://localhost:8080/actuator/health
      # TODO how to test?
      #  cat src/test/resources/logs.json | curl -H "Content-Type: application/json" -H "Authorization: Bearer changeme" --fail --show-error --silent http://localhost:8080/v1/logs --data-binary @- -v
      #  curl -s http://localhost:8080/api/logs -H "Authorization: Bearer changeme" | jq .
  build-native-binaries:
    needs: test
    permissions:
      contents: write
    uses: making/workflows/.github/workflows/build-native-image.yaml@main
    strategy:
      matrix:
        with:
        - runs-on: ubuntu-latest
          binary_suffix: -x86_64-pc-linux
        - runs-on: macos-14
          binary_suffix: -aarch64-apple-darwin
    with:
      download_target: false
      e2e_test: true
      test_url_1: http://localhost:8080/actuator/health
      runs-on: ${{ matrix.with.runs-on }}
      binary_suffix: ${{ matrix.with.binary_suffix }}
  deploy-to-fly:
    needs: build-native-image
    permissions:
      id-token: write
      contents: read
    uses: ./.github/workflows/deploy-to-fly.yaml
    secrets:
      VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
  publish-native-binaries:
    needs: build-native-binaries
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Download build artifacts x86_64-pc-linux
      uses: actions/download-artifact@v2
      with:
        name: lognroll-x86_64-pc-linux
        path: lognroll-x86_64-pc-linux
    - name: Download build artifacts aarch64-apple-darwin
      uses: actions/download-artifact@v2
      with:
        name: lognroll-aarch64-apple-darwin
        path: lognroll-aarch64-apple-darwin
    - name: check files
      run: find .
    - uses: pyTooling/Actions/releaser@r0
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          ./lognroll-x86_64-pc-linux/lognroll-x86_64-pc-linux
          ./lognroll-aarch64-apple-darwin/lognroll-aarch64-apple-darwin
